PrebuiltRuntimeLua/frameworks/cocos2d-x/tools/bindings-generator/clang/__init__.pyc
PrebuiltRuntimeLua/frameworks/cocos2d-x/tools/bindings-generator/clang/cindex.pyc
PrebuiltRuntimeLua/frameworks/cocos2d-x/tools/bindings-generator/clang/enumerations.pyc
